@import "../../../assets/styles/variables.scss";

.dropdown {
  &__button {
    width: 100%;
    border: 1px solid $gray-dark;
    padding: 14px;
    border-radius: 4px;
    gap: 10px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    color: $grey-300;
    cursor: pointer;

    &::after {
      content: "";
      background: url("../../../assets/images/Vector.svg") no-repeat center;
      width: 20px;
      height: 20px;
      display: block;
      transition: all normal 0.3s ease;
    }
    &.open {
      &::after {
        transform: scaleY(-1);
      }
    }

    &.selected {
      color: $black;
    }
  }

  &__list {
    border: 1px solid $gray-dark;
    box-shadow: 0px 2px 8px 0px #00000014;
    border-radius: 4px;
    padding: 0px 14px;
    color: $grey-300;
    position: absolute;
    z-index: 10;
    background: $white;
    width: 248px;

    @media screen and (max-width: 600px) {
      width: calc(100% - 50px);
    }

    &-item {
      padding: 14px 0px;
      border-bottom: 1px solid $gray-dark;

      &:hover {
        color: $black;
        cursor: pointer;
        font-weight: 700;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
