$primary-blue: #1493fe;
$light-blue: #1193ff;
$gray-light: #e5e8ed;
$gray-medium: #c2cbd1;
$gray-dark: #e6ecef;
$black: #000000;
$white: #ffffff;
$red-light: #eb5e58;
$red-dark: #b0263d;
$blue-light: #057ae3;
$gray-light-100: #ccc;
$grey-deep: #3a3a3a;
$grey-200: #949494;
$grey-100: #a5a5a5;
$grey-300: #868a8d;
