$primary-blue: #1493FE;
$light-blue: #1193FF;
$gray-light: #E5E8ED;
$gray-medium: #C2CBD1;
$gray-dark: #E6ECEF;
$black: #000000;
$white: #FFFFFF;
$red-light: #EB5E58;
$red-dark: #B0263D;
$blue-light: #057AE3;
$gray-light-100: #ccc;